.todo_input_box {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 50px;
}
  
.todo_box {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
}
  
.modal {
    position: absolute;
    top: -150px;
    left: 80%;
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0); /* 투명 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
  
.modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width:250px;
    height: 100px;
    position: relative;
    overflow: auto; /*스크롤*/
    display: flex;
    flex-direction: column;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.todo_button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #007bff;
    border-radius: 0 4px 4px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.todo_button:hover {
    background-color: #0056b3;
}

.todo_input {
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    width: 90%;
    margin: auto;
}
.ul_box {
    list-style-type: none;
    padding: 0;
}

.ul_box li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}
.ul_box li:last-child {
    border-bottom: none;
}

.ul_box li span {
    margin-left: 1rem;
    margin-right: 2rem;
}

.checkbox_wrapper {
    display: flex;
    align-items: center;
  }
  
.checkbox_wrapper input[type="checkbox"] {
    margin-right: 8px;
}

.todo_text {
    flex: 1; /* 텍스트가 오른쪽으로 넘칠 경우를 대비하여 확장될 수 있도록 함 */
}
  
.delete_button {
    background-color: transparent;
    font-weight: 400;
    border: none;
    color: red;
    cursor: pointer;
}
  
.delete_button:hover {
    text-decoration: underline;
}
.completed {
    text-decoration: line-through;
    color: #999; /* 텍스트를 흐리게 표시하기 위한 색상 */
    opacity: 0.7; /* 텍스트의 투명도 조절 */
}

.today_box {
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
}